* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;

}
#banner {
  width: 100%;
  height: 800px;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.248), black),
    url("https://cdn.playbackonline.ca/wp/wp-content/uploads/2020/05/Screen-Shot-2020-05-04-at-1.41.10-PM.png");
}
div .title h1 {
  color: rgb(212, 0, 0);
  font-size: 3rem;
  padding-left: 20px;
  padding-top: 10px;

}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 150px;




}
.sign-in button {
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  background-color: rgb(162, 17, 17);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.sign-in select {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgba(30, 9, 9, 0.479);
  color: white;
  border: 3px solid rgb(255, 255, 255);
}

.body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.body h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;

}

.body button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: rgb(162, 17, 17);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.body input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  margin-right: 10px;
}
.body h3 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;

  }
  .body p {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;

  
  }
  form{
    text-align: center;
  }
 input{
    width: 300px;
    padding: 30px 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    
  }
  